/* CSS for form */
input[type="text"],
button {
  font: 1em sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 7px;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* CSS for navigation bar */
nav {
  background-color: #333;
  overflow: hidden;
}

a.nav-bar {
  font: 1em sans-serif;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.nav-bar:hover {
  background-color: #ddd;
  color: black;
}

/* CSS for main content */
main {
  margin: 30px;
  text-align: center;
  font: 1em sans-serif;
}

.file-main {
  margin: 30px;
  text-align: left;
  font: 1em sans-serif;
}

h3 {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.basket-container {
  position: relative;
  width: 100%;
  height: auto;
  perspective: 500px;
}

.basket-image {
  width: 600px;
  height: auto;
}
.goody-image {
  width: 100px;
  height: 150px;
  transition: transform 0.5s ease;
}
.goody-image:hover {
  transform: rotateY(-30deg);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font: 1em sans-serif;
}

.button-group {
  margin-bottom: 10px;
  text-align: left;
}

#goodySelect {
  font: 1em sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 0px;
  margin: 5px;
}

#goodySelect:hover {
  font: 1em sans-serif;
  font-size: 16px;
  background-color: #ddd;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: left;
  align-items: baseline;
  width: 600px;
  height: auto;
  left: calc(50% - 300px);
  bottom: 0px;
  margin-top: 20px;
}

.file-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.file-name {
  font: 1em sans-serif;
  flex-grow: 1;
  margin-right: 10px;
  text-align: left;
}

.file-list {
  list-style-position: outside;
  padding-left: 0;
  margin-left: 0;
}

input[type="file"] {
  font: 1em sans-serif;
  font-size: 16px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 7px;
}

header {
  font: 1em sans-serif;
  background-color: #333;
  color: #fff;
  padding: 1px;
  text-align: left;
  padding-left: 15px;
  border-bottom: 2px solid red;
}
body {
  font: 1em sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #99ccff, #ff99cc);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a.help {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  transition: all 0.2s ease;
}

a.help:hover {
  background-color: #ddd;
}
